URL: https://github.com
Name: GitHub: Let’s build from here · GitHub
IP: 20.201.28.151
Description: GitHub is where over 100 million developers shape the future of software, together. Contribute to the open source community, manage your Git repositories, review code like a pro, track bugs and features, power your CI/CD and DevOps workflows, and secure code before you commit it.

URL: https://github.com/
Name: GitHub: Let’s build from here · GitHub
IP: 20.201.28.151
Description: GitHub is where over 100 million developers shape the future of software, together. Contribute to the open source community, manage your Git repositories, review code like a pro, track bugs and features, power your CI/CD and DevOps workflows, and secure code before you commit it.

URL: https://docs.github.com
Name: GitHub Docs
IP: 185.199.108.154
Description: Get started, troubleshoot, and make the most of GitHub. Documentation for new users, developers, administrators, and all of GitHub's products.

URL: https://skills.github.com/
Name: GitHub Skills
IP: 185.199.111.153
Description: None

URL: https://github.blog
Name: The GitHub Blog - Updates, ideas, and inspiration from GitHub to help developers build and design software.
IP: 192.0.66.2
Description: Updates, ideas, and inspiration from GitHub to help developers build and design software.

URL: https://education.github.com
Name: Engaged students are the result of using real-world tools - GitHub Education
IP: 140.82.112.22
Description: Access the best real-world tools, learning events, and training to shape the next generation of software development.

URL: https://resources.github.com/devops/fundamentals/devsecops/
Name: The Fundamentals of DevSecOps in DevOps - GitHub Resources
IP: 185.199.108.133
Description: The meaning of DevSecOps is a combination of development, security, and operations automating the integration of security into every phase of the software development lifecycle.

URL: https://resources.github.com/learn/pathways/
Name: Learn from the best - GitHub Resources
IP: 185.199.108.133
Description: Unlock the power of GitHub for your business through expert-guided learning pathways, accompanied by insights from industry leaders.

URL: https://resources.github.com/
Name: Home - GitHub Resources
IP: 185.199.108.133
Description: From setup to optimization, learn how to use GitHub to get the job done.

URL: https://partner.github.com/
Name: Partner with GitHub | GitHub Partner Portal
IP: 185.199.110.153
Description: GitHub is how people build software. Millions of developers and organizations around the world use GitHub to discover, share and contribute to projects. Together, we’re defining how software is built today.

URL: https://docs.github.com/search-github/github-code-search/understanding-github-code-search-syntax
Name: Understanding GitHub Code Search syntax - GitHub Docs
IP: 185.199.108.154
Description: You can build search queries for the results you want with specialized code qualifiers, regular expressions, and boolean operations.

URL: https://docs.github.com/search-github/github-code-search/understanding-github-code-search-syntax
Name: Understanding GitHub Code Search syntax - GitHub Docs
IP: 185.199.108.154
Description: You can build search queries for the results you want with specialized code qualifiers, regular expressions, and boolean operations.

URL: https://resources.github.com/forrester/
Name: The GitHub Enterprise Forrester Study - GitHub Resources
IP: 185.199.108.133
Description: Read Forrester’s Total Economic Impact™ study on how businesses can drive 433% ROI, increase developer productivity, and save time on developer onboarding with GitHub Enterprise.

URL: https://resources.github.com/security/sast/
Name: GitHub SAST report - GitHub Resources
IP: 185.199.108.133
Description: Discover what SAST is, why it can keep your proprietary code safe, and how to get started with SAST

URL: https://github.blog/2023-01-25-100-million-developers-and-counting/
Name: 100 million developers and counting - The GitHub Blog
IP: 192.0.66.2
Description: There are now 100 million developers around the world using GitHub. Here’s what this means—and why it’s just the beginning.

URL: https://resources.github.com/newsletter/
Name: GitHub - Newsletter Sign-up | GitHub Resources - GitHub Resources
IP: 185.199.108.133
Description: The latest news and insights. Curated just for you. Delivered to your inbox.

URL: https://resources.github.com
Name: Home - GitHub Resources
IP: 185.199.108.133
Description: From setup to optimization, learn how to use GitHub to get the job done.

URL: https://github.com/github/roadmap
Name: GitHub - github/roadmap: GitHub public roadmap
IP: 20.201.28.151
Description: GitHub public roadmap. Contribute to github/roadmap development by creating an account on GitHub.

URL: https://resources.github.com/devops/tools/compare/
Name: How does GitHub compare to other DevOps tools? - GitHub Resources
IP: 185.199.108.133
Description: We help you understand GitHub vs GitLab, how GitHub integrates with Azure and Jenkins, and present all the features GitHub has to offer.

URL: https://docs.github.com/get-started/exploring-integrations/about-building-integrations
Name: About building integrations - GitHub Docs
IP: 185.199.108.154
Description: You can build integrations to extend GitHub's functionality.

URL: https://partner.github.com
Name: Partner with GitHub | GitHub Partner Portal
IP: 185.199.110.153
Description: GitHub is how people build software. Millions of developers and organizations around the world use GitHub to discover, share and contribute to projects. Together, we’re defining how software is built today.

URL: https://www.electronjs.org
Name: Build cross-platform desktop apps with JavaScript, HTML, and CSS | Electron
IP: 13.107.246.33
Description: Build cross-platform desktop apps with JavaScript, HTML, and CSS

URL: https://desktop.github.com/
Name: GitHub Desktop | Simple collaboration from your desktop
IP: 185.199.111.153
Description: Simple collaboration from your desktop

URL: https://docs.github.com
Name: GitHub Docs
IP: 185.199.108.154
Description: Get started, troubleshoot, and make the most of GitHub. Documentation for new users, developers, administrators, and all of GitHub's products.

URL: https://github.community
Name: community · Discussions · GitHub
IP: 140.82.113.18
Description:  Ask questions, get answers, share expertise. 

URL: https://services.github.com/
Name: Expert Services | GitHub · GitHub
IP: 140.82.114.17
Description: From idea to implementation, our experts are ready to help your team get wherever you want to go. Start a conversation with us about how we can bring your goals to life.

URL: https://skills.github.com/
Name: GitHub Skills
IP: 185.199.111.153
Description: None

URL: https://www.githubstatus.com/
Name: GitHub Status
IP: 3.160.119.17
Description: Welcome to GitHub's home for real-time and historical data on system performance.

URL: https://github.com/about
Name: About · GitHub
IP: 20.201.28.151
Description: Founded in 2007, GitHub has brought millions of developers together to discover, share, and build better software. Learn more about our executives, careers, products, and community.

URL: https://github.blog
Name: The GitHub Blog - Updates, ideas, and inspiration from GitHub to help developers build and design software.
IP: 192.0.66.2
Description: Updates, ideas, and inspiration from GitHub to help developers build and design software.

URL: https://github.careers
Name: GitHub Careers
IP: 34.233.4.33
Description: None

URL: https://socialimpact.github.com/
Name: GitHub Social Impact | The Social Impact team uses GitHub’s product, brand and employees to empower nonprofits and the greater social sector to make a positive & lasting contribution to the world.
IP: 185.199.110.153
Description: The Social Impact team uses GitHub’s product, brand and employees to empower nonprofits and the greater social sector to make a positive & lasting contribution to the world.

